/* back to top arrow  */
.cover{
    width:200px;
    height:262px;
    border:1px solid silver;
    background-color: rgba(0,0,0,0.05);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.coverload {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.coverload > div {
  width: 10px;
  height: 10px;
  background-color: silver;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.coverload .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.coverload .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
width: 70px;
height: 70px;
z-index: 100;
display: none;
text-decoration: none;
}

.back-to-top i {
  font-size: 60px;
}


.back-to-bottom {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 200;
    display: none;
    text-decoration: none;
}

.back-to-bottom i {
    font-size: 60px;
}

.anchor {
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
}

.img-responsive {
  margin: 0 auto;
}

.navbar-default {
 border-bottom: 1px solid black;
}

.centered {
  text-align: center;
}



footer {
    margin:0;
    padding:0;
    width:80%
}

footer {
    width:80%;
    /*max-width: 100%;*/
    min-height: 80px;
    margin: 0;
    padding: 10px;
    background-color:rgba(0,0,0,.8);
    color:rgba(255,255,255,.8);
    vertical-align: middle;
    text-align:center;
    float:right;
}

#footer {
    background-color:transparent;
}

.footer-links {
 text-align: center;
 list-style-type: none;
}
.footer-links li {
 display: inline-block;
}

/* line 2048, ../../app/assets/stylesheets/layout.css.scss */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  margin: 0 0 0 25px;
}

/*@media only screen and (min-width:768px){#toctitle{font-size:1.375em}*/
body.toc3{
    padding-left:15em;
    padding-right:0
}
/* #toc.toc3{margin-top:0!important;background-color:#f8f8f7;position:fixed;width:15em;left:0;top:0;border-right:1px solid #efefed;border-top-width:0!important;border-bottom-width:0!important;z-index:1000;padding:1.25em 1em;height:100%;overflow:auto}*/
/*#toc.toc3 #toctitle{margin-top:0;margin-bottom:.8rem;font-size:1.2em}*/
#toc.toc3>ul{font-size:.9em;margin-bottom:0}
#toc.toc3 ul ul{margin-left:0;padding-left:1em}
#toc.toc3 ul.sectlevel0 ul.sectlevel1{padding-left:0;margin-top:.5em;margin-bottom:.5em}
body.toc3.toc-right{padding-left:0;padding-right:15em}
body.toc3.toc-right #toc.toc3{border-right-width:0;border-left:1px solid #efefed;left:auto;right:0}}
@media only screen and (min-width:1280px){body.toc3{padding-left:20em;padding-right:0}
#toc.toc3{width:20em}
#toc.toc3 #toctitle{font-size:1.375em}
#toc.toc3>ul{font-size:.95em}
#toc.toc3 ul ul{padding-left:1.25em}
body.toc3.toc-right{padding-left:0;padding-right:20em}}

html, body{height:100%;}

/* see also js/sidebar */
.sidebar-container{
    margin:0;
    padding:0;
    float:left;
    min-height:100vh; /* js/sidebar */
    width: 19vw;
    min-width:200px;
    background-color:#f8f8f7;
    height: 100%;
    z-index: 99;
}

.sidebar{
    /*position:fixed;*/ /* fixed via jquery */
    padding: 20px;
    width: inherit;
    background-color:inherit;
    overflow-y: auto;
    height:100%;
}

/*#toc.toc3{
}*/

.top-bar {
    background-color:white;
    font-family:"Lato",sans-serif;
    font-style:normal;
    font-weight:700;
    color:#272727;
    letter-spacing:0.182em;
    font-size:11px;
    text-transform: uppercase;
    z-index: 100;
    position: fixed;
    margin:0;
    padding:1rem;
    left:0;
    top:0;
    height:90px;
    /*line-height:90px;*/
    width:100%;
    opacity:90;
    vertical-align:middle;
    box-sizing:border-box;
    border-bottom: 1px solid #cccccc;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar-container {
    display: table;
    margin: 0 auto;
    width:88vw; /*css3*/
    max-width:1200px;
    padding-right:30px;
}

.row.expanded, .page-header {
    margin-top:90px; /*top bar height*/
}

.page-header {
    margin-bottom:-90px; /*remove row.expanded margin*/
}

.top-bar-left a {
    font-family:"Lato",sans-serif;
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: -0.079em;
    text-transform: uppercase;
}

.top-bar-left, .top-bar-right, .dropdown.menu,
.top-bar nav, .top-bar a, .top-bar ul, .top-bar li {
    height:inherit;
    margin:inherit;
    padding:0;
    border:none;
    vertical-align:inherit;
    list-style-type:none;
    background-color:transparent;
    text-decoration: none;
    color:inherit;
}

.top-bar ul #menu-feelpp-menu li {
    float:left;
}

.top-bar-left li {
    /*line-height:70px;*/
    padding-top:11px;
}

.dropdown.menu > li > a {
    line-height: 63px;
    padding-right:14px;
}

.dropdown.menu > li > a
{
    border-top: 4px solid transparent;
}

.dropdown.menu > li > a:hover
{
    color: grey;
    border-top: 4px solid red;
}

.top-bar.sub-menu {
 display:none;
}

/*.top-bar-left,.dropdown,
.menu,.sub-menu,
.top-bar a {
    margin:0;
    padding:0;
}*/

.top-bar nav ul .sub-menu {
    width:200px;
    background-color:white;
    line-height:1.5em;
}

.top-bar nav ul .sub-menu > li,
.top-bar nav ul .sub-menu > a {
    margin:0;
    padding:0;
    padding-left:10px;
}

.dropdown.menu > .sub-menu > a:hover {
    color: red;
}

.top-bar nav ul .sub-menu {
    box-sizing:border-box;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.toc {
    display:none;
}

/* content */
.main {
    margin:0 20%;
    padding:0;
    width:80%;
}

.content-container {
    /*display: table;*/
    width: 100%;
    margin: 0 auto;
    /*max-width:1200px;*/
    padding-right:10px;
    padding-left:10px;
    padding-top:15px;
    /*padding-bottom:30px;*/
    float:right;
}

/* fix pygment */
.pygments.highlight code {
    border: 0;
}

.pygments.highlight code table tbody {
    background-color:transparent;
}

.listingblock > .content {
    border: 1px solid lightgrey;
}

#header,.page-title {
    margin:0;
    padding:0;
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
}

/* MEDIA */


@media screen and (max-width: 1000px) {
    .sidebar-container {
        display: none;
    }
    .main {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
}
