<!DOCTYPE html>
<html lang="en">

<head>
    {{> head defaultPageTitle='Untitled'}}
</head>

<body class="article docs-home{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
    {{> header}}

    <div class="body">
        {{> nav componentOrder=page.attributes.component-order}}
        <main class="article">
            {{!-- toolbar for responsive nav --}}
            <div class="toolbar" role="navigation">
                <div class="toolbar-wrapper">
                    {{> nav-toggle}}
                </div>
            </div>

            <div class="content">
                {{> article}}
            </div>

            <div class="content">
                <article class="doc">
                    <div class="actions">
                        {{#with (get-quickstart-page 'stable')}}
                        <a href="{{{relativize this.pub.url}}}" class="button primary">Quickstart</a>
                        {{/with}}
                        {{#with (get-overview-page 'stable')}}
                        <a href="{{{relativize this.pub.url}}}" class="button secondary">Overview</a>
                        {{/with}}
                        <a href="https://join.slack.com/t/feelpp/shared_invite/zt-2qe0q9hw-4pVbhohCXUE6Po9Ma8dbiQ" class="button secondary"
                           style="background-color: #FFA500; color: black;">Join Community</a>
                    </div>
                </article>
            </div>

            <div class="content">
                <article class="doc">
                    <h2>Recommended Resources</h2>
                    <div class="books">
                        {{#each (get-recommended-resources)}}
                        {{> book-cover this}}
                        {{/each}}
                    </div>
                </article>
            </div>

            <div class="content">
                <article class="doc">
                    <h2>Latest news</h2>
                    <div class="latest-news">
                        <div class="twitter-timeline-container">
                            <a class="twitter-timeline" href="https://twitter.com/feelpp?ref_src=twsrc%5Etfw"
                                data-tweet-limit="3" data-height="500" data-width="420">Tweets by @feelpp</a>
                        </div>
                        <div class="twitter-timeline-container">
                            <a class="twitter-timeline" href="https://twitter.com/cemosis?ref_src=twsrc%5Etfw"
                                data-tweet-limit="3" data-height="500" data-width="420">Tweets by @cemosis</a>
                        </div>
                    </div>
                </article>
            </div>

        </main>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    {{> footer}}
</body>

</html>