auto/
.bundle/
vendor/
/book.html
/book.pdf
/index.html
/math.html
/modeling.html
/programming.html
/quickref-cards.html
/quickref.html
*.bak
*~
\#*\#
.\#*
Gemfile.lock
.sass-cache
_site
jupyter/    
/math/fem/anafunc.tex
/math/fem/ann-analyse-fonctionnelle.tex
/math/fem/ann-calcul-integrale.tex
/math/fem/ann-coord-bary.tex
/math/fem/ann-feelpp.tex
/math/fem/biblio.tex
/math/fem/ch-ef-hermite.tex
/math/fem/ch-ef-lagrange.tex
/math/fem/ch-introduction-mef.tex
/math/fem/ch-problemes-mixtes.tex
/math/fem/ch5.tex
/math/fem/ch6.tex
/math/fem/mef-intro.tex
/math/fem/newEnvironments.tex
/math/fem/test.tex
/math/fem/titre.tex
*adocbak
/.bundle
/**/node_modules/
/**/build/
/**/feelppdb/
/**/toto/
/**/*DS_Store
.venv/