pyvista == 0.43.0
xvfbwrapper 
ipykernel == 6.28.0
pythreejs
plotly
numpy
trame-vtk
trame 
trame-vuetify
spdlog
ipywidgets == 8.1.2
jupyter-server-proxy
pandas 
nbmake >= 1.5
traitlets >= 5.10
tabulate
bottleneck >= 1.3.4
#https://github.com/feelpp/feelpp-project/releases/download/v3.2.0/feelpp_project-3.2.0-cp310-cp310-linux_x86_64.whl