<link href='{{page.root}}css/font-opensans.css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel='stylesheet' id='x-google-fonts-css'  href="{{page.root}}css/font-lato.css?family=Lato:400,400,italic:700,700,italic,300;subset=latin,latin-ext;ver=4.6.1" type='text/css' media='all' />
<link rel="stylesheet" href="{{page.root}}assets/css/style.css?v={{ site.time | date: '%s%N' }}">
<link rel="stylesheet" href="{{page.root}}css/foundation.min.css?v={{ site.time | date: '%s%N'}}">
<link rel="stylesheet" href="{{page.root}}css/font-awesome.css?v={{ site.time | date: '%s%N'}}">
<link rel="stylesheet" href="{{page.root}}css/asciidoctor.css?v={{ site.time | date: '%s%N'}}">
<link rel="stylesheet" href="{{page.root}}css/custom.css?v={{ site.time | date: '%s%N'}}">
<!--<link rel="stylesheet" href="{{page.root}}css/coderay.css">-->
<link rel="stylesheet" href="{{page.root}}asciidoc-pygments.css?v={{ site.time | date: '%s%N'}}">

<!-- 
<link rel="stylesheet" href="{{ "/css/asciidoc.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
~<link rel="stylesheet" href="{{ "/css/asciidoc-pygments.css" | prepend: site.baseurl }}">
-->
