<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{page.title}}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="author" content="Christophe Prud'homme">
<meta name="copyright" content="Maybe consider a Creative Commons license">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel='stylesheet' id='x-google-fonts-css'  href='https://fonts.googleapis.com/css?family=Lato%3A400%2C400italic%2C700%2C700italic%2C300&#038;subset=latin%2Clatin-ext&#038;ver=4.6.1' type='text/css' media='all' />
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="{{page.root}}css/foundation.min.css">
<link rel="stylesheet" href="{{page.root}}css/font-awesome.css">
<link rel="stylesheet" href="{{page.root}}css/asciidoctor.css">
<link rel="stylesheet" href="{{page.root}}css/custom.css">
<!--<link rel="stylesheet" href="{{page.root}}css/coderay.css">-->
<link rel="stylesheet" href="{{page.root}}asciidoc-pygments.css">

<!-- 
<link rel="stylesheet" href="{{ "/css/asciidoc.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
~<link rel="stylesheet" href="{{ "/css/asciidoc-pygments.css" | prepend: site.baseurl }}">
-->
