
div.stretchy-wrapper-16_9 {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
}
div.stretchy-wrapper-16_9 > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.cover-left {
    float:left;
/*    margin-left: auto;
    margin-right: auto;*/
    margin-left: 3vw;
    margin-right: 3vw;
    
}

/* Default cover witdh (keep ratio). */
.cover svg {
    height: auto;
    width: 200px;
    box-shadow: 5px 5px 5px #aaaaaa;
}

/* Adapt size for small screen. */
@media (max-width: 500px) {
    .cover svg {
        height: auto;
        width: 60vw;
        box-shadow: 5px 5px 5px #aaaaaa;
    }
}

.cover svg:hover {
    margin-top: 1px;
    margin-bottom: -1px;
    margin-left: 1px;
    margin-right: -1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 255, 0.5);
}

.cover svg:active {
    margin-top: 2px;
    margin-bottom: -2px;
    margin-left: 2px;
    margin-right: -2px;
    box-shadow: 3px 3px 10px rgba(0, 255, 255, 0.5);
}
