
div.stretchy-wrapper-16_9 {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
}
div.stretchy-wrapper-16_9 > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.cover-left {
    float:left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3vw;
    padding-right: 3vw;
    
}

/* default cover witdh (keep ratio) */
.cover svg {
    height: auto;
    width: 200px;
}

@media (max-width: 500px) {
    .cover svg {
        height: auto;
        width: 60vw;
    }
}
