
div.stretchy-wrapper-16_9 {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
}
div.stretchy-wrapper-16_9 > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
