/* back to top arrow  */
.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
width: 70px;
height: 70px;
z-index: 100;
display: none;
text-decoration: none;
}

.back-to-top i {
  font-size: 60px;
}

.anchor {
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
}

.img-responsive {
  margin: 0 auto;
}

.navbar-default {
 border-bottom: 1px solid black;
}

.centered {
  text-align: center;
}

.footer {
 padding: 20px 0;
 margin-top: 40px;
 border-top: 1px solid #e5e5e5;
 background-color: #f5f5f5;
 width: 100%;
}
.footer p {
 margin-bottom: 0;
 color: #777;
}
.footer-links {
 text-align: center;
 list-style-type: none;
 margin-top: 10px;
 margin-bottom: -2px;
}
.footer-links li {
 display: inline-block;
 margin-right: 10px;
}

/* line 2048, ../../app/assets/stylesheets/layout.css.scss */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  margin: 0 0 0 25px;
}
