<footer class="footer">
  <p>Copyright (C) 2017-2020 <a href="http://www.feelpp.org">Feel++ Contorsium.</a></p>
  <p>Generated using antora by <a href="https://opendevise.com">OpenDevise Inc.</a></p>
  <p>Use of this software, including the UI, is granted under the terms of the <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License Version 2.0</a> (MPL-2.0).</p>
</footer>
