<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
{% include head.html %}
{% include css.html %}
{% include script-head.html %}
</head>
<body>


<!-- Nav Bar -->
{% include topbar.html %}
<!-- End Nav -->

<!-- Page Header Bar -->
{% include headerbar.html %}
<!-- End Page Header -->

<!-- Main Page Content and Sidebar -->
<div class="expanded row">
    <!-- Sidebar -->
    {% include sidebar.html %}
    <!-- End Sidebar -->

    <!-- Main Blog Content -->
    <div class="small-9 columns main" role="content">
        <div class="content-container">
            {{ content }}
        </div>
    </div>
    <!-- End Main Content -->
</div>
<!-- End Main Content and Sidebar -->

<!-- Footer -->
{% include footerbar.html %}

{% include script-footer.html %}

</body>
</html>
